
.style {
    
    display: flex;
    flex-direction: column;
    margin-left: 400px

  }

  .nameh1{
      background-color: pink;
      width: 400px;
      text-align: center;
  }

  .newprojform{
    background-color: aqua;
    width: 400px;
    text-align: center;
}

.projectlist{
    width: 400px;
    text-align: center;
    margin-top: 50px;
}

form{

    display: flex;
    flex-direction: column;
}

#textInput{
    width: 300px;
    height: 100px;
    align-self: center;
    margin-bottom: 10px;
}

#submit{
    width: 300px;
    height: 50px;
    align-self: center;
    margin-bottom: 10px;
    background-color: rgb(43, 198, 226);
}

#project{
    background-color: rgb(171, 226, 43);
}